*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.h_nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.n_ul{
  display: flex;
  list-style: none;
  column-gap: 10px;
}

.n_ul li a{
  text-decoration: none;
}

.h_sect{
  width: 100%;
  height: 550px;
}

.s_cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.cont_fig{
  width: 71%;
  height: 100%;
  overflow: hidden;
}

.cont_fig img{
  width: 300px;
  height: 100%;
}

.sect_cont{
  width: 29%;
  height: 100%;
  overflow: hidden;
}

.cont_fig1{
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.cont_fig1 img{
  width: 50%;
  height: 100%;
}

.cont_fig2{
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.cont_fig2 img{
  width: 50%;
  height: 100%;
}

/* Estilo del main */
.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo de la section 1 */
.m_sect-1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  column-gap: 30px;
  row-gap: 30px;
  width: 70%;
}

.s2_art{
  width: 200px;
  height: 400p;
}

.s2_art img{
  width: 100%;
  height: 300px;
}

.s2_art h3{
  padding: 10px 0 0 0;
}

.s2_art p {
  -webkit-text-stroke-width: medium;
  padding: 10px 0;
}

.s2_art button{
  width: 150px;
  padding: 10px;
  background-color: white;
  border-top: 6px solid #f7f7f7;
  border-right: 7px solid #c9c6c6;
  border-bottom: 7px solid #c9c6c6;
  border-left: 5px solid #f7f7f7;
}

.s2_art button:hover{
  cursor: pointer;
  padding: 12px;
  border-top: 4px solid #ffcfcf;
  border-right: 5px solid #a56b72;
  border-bottom: 5px solid #a56b72;
  border-left: 3px solid #ffcfcf;
}

@media screen and (max-width: 616px) {
  .header{
    height: 300px;
  }
  .cont_fig{
    width: 100%;
  }
  .sect_cont{
    display: none;
  }
  
  .m_sect-1{
    width: 100%;
  }
}