.main {
    overflow: hidden;
    width: 100%;
    margin: 50px 0;
    padding: 0 50px;
    overflow: hidden;
}

.container-carousel {
    width: 100%;
    height: 800px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
}

.carousel-roulet {
    position: relative;
    width: 64%;
    height: 100%;
    overflow: hidden;
}

.roulet-index {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s ease;
}

.roulet-index.roulet-index-active {
    opacity: 1;
}

.index-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.carousel-offer {
    width: 34%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 20px;
}

.offer-container {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
}

.container-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.offer-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: right;
}

.container-shop {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
}

.container-products {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 10px;
    margin: 50px 0 0;
    gap: 50px 0;

}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    display: block;
}

.container-shopDetail, .shopDetail-paragraph {
    display: flex;
    gap: 50px;
}

.shopDetail-paragraph {
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px 0;
}

@media only screen and (max-width: 1900px) {
    .container-carousel {
        height: 600px;
    }
}

@media only screen and (max-width: 1500px) {
    .container-carousel {
        height: 436px;
    }
}

@media only screen and (max-width: 980px) {
    .main {
     padding: 0 10px;   
    }

    .container-carousel {
        height: 700px;
        flex-flow: column;
    }

    .carousel-roulet,
    .carousel-offer {
        width: 100%;
    }

    .carousel-roulet{
        height: 60%;
    }

    .carousel-offer {
        height: 40%;
    }

    .container-products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        gap: 50px;
    }

}

@media only screen and (max-width: 500px) {
    .carousel-roulet {
        height: 40%;
    }

    .carousel-offer {
        height: 60%;
    }
}