html[data-theme='dark'] {
    --color-text: #fff;
    --backgruond-color: hsl(235, 24%, 19%);
    /* ### Dark Theme */
    --Very-Light-Gray: hsl(237, 14%, 26%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 52%);
    --Light-Grayish-Blue: hsl(233, 11%, 44%);
    --Dark-Grayish-Blue: hsl(236, 33%, 92%);
    --Very-Dark-Grayish-Blue: hsl(236, 33%, 92%);
    
    --box-shadow: 0 4px 6px hsla(180, 100%, 50%, 0.1);
}