.item__link.active {
    color: var(--Dark-Grayish-Blue);
    border-bottom: 2px solid var(--Very-Dark-Grayish-Blue);
}

.header__button>.header__button-active:first-child {
  transform: rotate(45deg);
}

.header__button>.header__button-active:nth-child(2) {
  opacity: 0;
}

.header__button>.header__button-active:last-child {
  transform: rotate(-45deg);
}
